api/node_modules

# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/web/node_modules

# tesing
/web//coverage

# production
/web/build

# misc
/web/.DS_Store
/web/.env.local
/web/.env.development.local
/web/.env.test.local
/web/.env.production.local

/web/npm-debug.log*
/web/yarn-debug.log*
/web/yarn-error.log*

/api/npm-debug.log*
/api/yarn-debug.log*
/api/yarn-error.log*

*.orig
/web/package-lock.json

/api/package-lock.json